<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1 class="grannies-title text-center">New Granny</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>
