<div class="footer">
  <div class="flexbox">
    <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://es-la.facebook.com/RossSmithvideos" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    <a href="#" target="_blank"><i class="fa-brands fa-twitter-square"></i></a>
  </div>
  <div class="flexbox footer-copyright">
    <p><i class="fa-regular fa-copyright"></i>All rights reserved</p>
  </div>
</div>
