<div class="banner">
</div>
  <div class="title-banner">
    Grannies B&B
  </div>
  <div class="subtitle-banner">
    Everybody needs a Granny
  </div>
    <%= link_to "Find Yours", grannies_path , class: "btn btn-flat" %>
  <div class="banner-img">
  <%= image_tag "logo_granny.png" %>
  </div>
<h1>Pages#home</h1>

